  body {
  margin: 0;
  padding: 0;
  background-image: url('./slowtouch.gif');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 2em;
  color: rgb(254,254,14);
  font-family: 'Metro-webfont', sans-serif;
   };

   @font-face 
   {
       font-family: 'AstronBoyWonder';
       src: url('./fonts/AstronBoyWonder.ttf') format('truetype');
   }

   @font-face 
   {
       font-family: 'Metro-webfont';
       src: url('./fonts/Metro-webfont.ttf') format('truetype');
   }
   
   nav ul {
       background-image: url('./giphy.gif');
       border: 2px solid yellow;
       margin: 20px;
       padding: 50px;
       list-style-type: none;
       display: flex;
       padding: 20px;
       justify-content: space-between;
       font-family: 'AstronBoyWonder', sans-serif;
       text-align: right;
       position: relative;
   }

   div ul {
       list-style-type: none;
       justify-content: space-around;
      
   }

   div h1 {
       color: rgb(185,255,255);
       text-align: center; 
       border: px solid yellow;
       margin: 20px;
       padding: 50px;
       background-image: url('./giphy.gif');
   }

   footer {
       background-image: url('./giphy.gif');
       border: 2px solid yellow;
       margin: 20px;
       padding: 50px;
   }

   header {
    background-image: url('./giphy.gif');
    border: 2px solid yellow;
    margin: 20px;
    padding: 50px;
   }